/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');*/

body {
    font-family: 'Roboto Slab', sans-serif;
}

.container {

}
@media (min-width: 576px) {
    .container {
        width: 540px;
        margin: 2em auto;
        box-shadow: 10px 10px 20px 0 #90a4ae;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1140px;
    }
}
