.IconTitle {
  $size: 36px;
  display: grid;
  grid-template-columns: $size auto;
  align-items: center;
  grid-column-gap: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
  &__icon-wrp {
    display: flex;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: var(--accent);
    color: white;
    & > svg {
      display: block;
      width:1em;
      height:1em;
      margin: auto;
      font-size: $size/2;
    }
  }
  &__title {}
}