.PersonCard {
  color: inherit;
  &__avatar {
    width: 198px;
    height: 198px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #37474f;
  }
  &__name {
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__position {
    font-size: 1em;
    font-weight: 400;
  }
}