.skill {
  $size: 20px;
  display: grid;
  grid-template-columns: $size auto;
  align-items: center;
  grid-gap: 5px;

  &__icon-wrp {
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: white;
    display: flex;

    & > svg {
      display: block;
      width: 1em;
      height: 1em;
      font-size: $size/2;
      margin: auto;
    }
  }

  &__lang {
    font-size: 0.9em;
  }

  &__progress {
    grid-column: 2;
  }
}